<html>
<h1>Datenquelle hinzufügen</h1>

<div class="searchForm">
	<%= form_tag("/source/add", method: "get") do %>
  	<%= text_field_tag(:url, nil, placeholder: 'Website', size: 15) %>
 	<%= text_field_tag(:search_url, nil, placeholder: 'Search URL', size: 20) %>
	</br>
	<%= submit_tag("Hinzufügen") %>
	<% end %>
</div>

<h1>Datenquellen</h1>
<ul>
<% @sources.each do |source| %>
<li><%= source.domain %></li>
<br>
<% end %>
</ul>
</html>