<html>
<h1>Es wurden <%= @results.count %> Ergebnisse gefunden.</h1>
<% @results.each do |deceased| %>
<%= deceased.full_name %> <% unless deceased.maiden_name.nil? %> geb. <%= deceased.maiden_name %> <% end %>
<br>
* <%= deceased.birthday %> 
<br>
† <%= deceased.deathday %>
<br>
<%= deceased.notice_place %>
<br>
<%= link_to deceased.source, deceased.source_url %>
<hr>
<% end %>
</html>