<%= link_to "Quellen", :controller => :source, :action => :index %>
<br>

<%= @deceased_count %> Todesanzeigen in der Datenbank.
<br>
<%= @source_count %> Datenquellen in der Datenbank. 

<h1>Todesanzeigensuche</h1>
<div class="searchForm">
	<%= form_tag("/search/deceased", method: "get") do %>
  	<%= text_field_tag(:first_name, nil, placeholder: 'Vorname', size: 10) %>
 	<%= text_field_tag(:last_name, nil, placeholder: 'Nachname', size: 10) %>
 	</br>
 	<%= select_tag :source, options_for_select(@sources) %>
	</br>
 	<%= select_tag :format, options_for_select([ "html", "xml", "json"]) %>
	</br>
	<%= submit_tag("Suchen") %>
	<% end %>
	<br>
</div>

<h1>Datenbanksuche</h1>
<div class="searchForm">
	<%= form_tag("/search/db", method: "get") do %>
 	<%= text_field_tag(:last_name, nil, placeholder: 'Nachname', size: 10) %>
	</br>
	<%= submit_tag("Suchen") %>
	<% end %>
	<br>
</div>